<div id="informacionPersonal" class="card mx-3" style="max-width: 680px;display: none;">
  <div class="row g-0">
    <div id="infoperAvatar" class="col-md-4" style="margin: auto;">
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">Informacion de Usuario</h5>
        <ul class="list-group list-group-flush">
          <li id="infoperNombre" class="list-group-item"></li>
          <li id="infoperEdad"class="list-group-item"></li>
          <li id="infoperEmail" class="list-group-item"></li>
          <li id="infoperDir" class="list-group-item"></li>
          <li id="infoperTel" class="list-group-item"></li>
		    </ul>
      </div>
    </div>
  </div>
</div>