<h1 class="display-5 fw-bold">Ingrese Productos (usando Handlebars)</h1>
<form id="formProducto">
    <div>
        <input class="form-control mb-3" type="text" id="p_title" placeholder="Title">
    </div>
    <div>
        <input class="form-control mb-3" type="number" id="p_price" placeholder="Price">
    </div>
    <div>
        <input class="form-control mb-3" type="text" id="p_thumbnail" placeholder="Thumbnail">
    </div>
</form>
<button class="btn btn-primary mb-3" onclick="postProducto()">Agregar Producto</button>
<script>
    function postProducto() {
    let title = document.getElementById("p_title").value;
    let price = document.getElementById("p_price").value;
    let thumbnail = document.getElementById("p_thumbnail").value;
    document.getElementById('formProducto').reset()
    let producto = {
        "title": title,
        "price": parseInt(price),
        "thumbnail": thumbnail
    };

    fetch('/api/productos', {
        method: 'POST', 
        body: JSON.stringify(producto),
        headers: {'Content-Type': 'application/json'}
    }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));
}
</script> 