<div id="productosCarrito">
    <h1 class="display-5 fw-bold mx-3">Productos de su Carrito</h1>
    <div class="mx-3"> 
        <table id="tablaCarrito" class="table table-dark table-striped">
            <thead >
                <th>ID del Carrito</th>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </thead>
            <tbody id="listaCarrito">
                           
            </tbody>
        </table>
        <button id="endChart" type="button" class="btn btn-warning mx-3 mt-3">Finalizar Carrito</button>
    </div>
</div>