<div id="productosCarrito">
    <h1 class="display-5 fw-bold mx-3">Productos de su Carrito</h1>
    <div class="mx-3"> 
        <table id="tablaCarrito" class="table table-dark table-striped">
            <thead >
                <th>ID del Carrito</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Imagen</th>
            </thead>
            <tbody id="listaCarrito">
                <tr class="table-dark"> 
                    <td class="table-dark">producto.id</td>
                    <td class="table-dark">producto.nombre</td>
                    <td class="table-dark">producto.cantidad</td>
                    <td class="table-dark">
                        <img src="producto.foto" height="48px">    
                    </td>
                </tr>
                <tr class="table-dark"> 
                    <td class="table-dark">producto.id</td>
                    <td class="table-dark">producto.nombre</td>
                    <td class="table-dark">producto.cantidad</td>
                    <td class="table-dark">
                        <img src="producto.foto" height="48px">    
                    </td>
                </tr>
                <tr class="table-dark"> 
                    <td class="table-dark">producto.id</td>
                    <td class="table-dark">producto.nombre</td>
                    <td class="table-dark">producto.cantidad</td>
                    <td class="table-dark">
                        <img src="producto.foto" height="48px">    
                    </td>
                </tr>                
            </tbody>
        </table>
        <button id="endChart" type="button" class="btn btn-warning mx-3 mt-3">Finalizar Carrito</button>
    </div>
</div>